/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  color: white;
  gap: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.footer-socials {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.social-button {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  border-radius: 5px;
  font-size: 0.9rem;
}

.legal-mentions {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1480px) {
  footer {
    position: sticky;
  }
}
