





/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
    height: 10vh; /* Occupe 10% de la hauteur de l'écran */
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.social-button {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 0.9rem;
}

.legal-mentions {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}