// footer.scss

footer {
  background-color: #003366; // Couleur de fond du footer
  color: #ffffff; // Couleur du texte

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; // Largeur maximale
    margin: 0 auto; // Centrer le contenu
  }

  .footer-left {
    flex: 1; // Prend l'espace restant
    text-align: center;

    .footer-logo {
      width: 100px; // Largeur du logo
      margin-bottom: 10px; // Espace sous le logo
    }

    p {
      margin: 0; // Supprime le margin par défaut
      line-height: 1.5; // Espacement entre les lignes
      text-align: left;
    }
  }

  .footer-right {
    flex: 1; // Prend l'espace restant
    text-align: center;

    h3 {
      margin-bottom: 10px; // Espace sous le titre
    }

    p {
      margin: 0; // Supprime le margin par défaut
      line-height: 1.5; // Espacement entre les lignes
    }
  }
}
