.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 1rem 2rem;
  position: relative;

  .navbar-socials {
    display: flex;
    flex-direction: row;
    gap: 15px;
    i {
      color: white;
      font-size: 2rem;

      &:hover {
        color: skyblue;
      }
    }
  }

  img {
    height: 150px;
  }

  .navbar-links {
    display: flex;
    gap: 2.5rem;
    list-style: none; // Supprime les puces pour toutes les listes
    padding: 0; // Supprime le padding par défaut des ul
    margin: 0; // Supprime le margin par défaut des ul

    li {
      position: relative;

      a {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        transition: color 0.3s ease;

        &:hover {
          color: $gray;
        }
      }

      // Menu déroulant
      .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        margin-top: 10px;
        padding: 10px 0;
        list-style: none; // Supprime les puces pour le menu déroulant
        width: 200px;

        li {
          a {
            padding: 8px 16px;
            color: $primary-color;
            text-decoration: none;
            display: block;

            &:hover {
              background-color: skyblue;
            }
          }
        }
      }

      &:hover .dropdown-menu {
        display: block; // Affiche le menu déroulant lors du survol de l'élément parent
      }
    }
  }
}
