@import "./variables";
@import "./contact-section";
@import "./cta-button";
@import "./footer";
@import "./hero-banner";
@import "./modal";
@import "./presentation";
@import "./boutique";
@import "./boutique-navbar";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;

  line-height: 1.6;
}
